article, aside, details, dialog, figcaption, figure, footer, header, main, nav, section {
	display: block;
}

audio, canvas, embed, keygen, meter, progress, video {
	display: inline-block;
}

[hidden] {
	display: none;
}

body
{
	background: RGB(0,0,0);

}

#all
{
  width:1200px;
	font-family: "Yu Gothic UI", sans-serif;
	margin: 0 auto;
	color:#fff;
}

#baner
{
	margin:0;
	height: 300px;
}

#menu
{
  display:block;
  width:1200px;
  float:right;
  border-bottom:5px solid #1F7690;

}

#menu a
{
  background-color:#072538;
  color:rgb(255, 255, 255);
  text-decoration:none;
  display:bolck;
	text-align: center;
	width: 235px;
	float:left;
	margin:5px 2.5px;
	padding:15px 0;
}

#menu a:hover
{
  background-color:	#F39B1E;
  color:black;
}

#kontakt
{
  padding:0;
  margin:0;
  width:250px;
	height:767px;
	border-right: 5px solid #1F7690;
	float: left;
	border-bottom: 5px solid #1F7690;
}

/* #od
{
	margin-bottom: 60px;
} */

#kontakt a
{
	background-color:#072538;
	color:white;
	text-decoration:none;
	display:bolck;
	text-align: center;
	width: 235px;
	float:left;
	margin:5px 2.5px 0 0 ;
	padding:15px 0;
}

#kontakt a:hover
{
	background-color:	#F39B1E;
	color:black;
}


#kontakt section
{
	margin:5px 0 0;
	padding: 10px 10px 0;
}

article
{
    width:865px;
    float:left;
		font-size: 20px;
		padding:0 40px;
}

ol
{
	margin:20px 0;
}

p .profil
{
	margin:20px 0;
}

footer
{
	padding: 40px;
  width:1115px;
  float:left;
  font-size: 10px;
	border-bottom: 5px solid #1F7690;
	border-left: 5px solid #1F7690;
	margin-bottom:20px;
}

footer div a
{
	color:white;
	text-decoration: none;
}

footer div a:hover
{
	color:	#B0C4DE;
	text-decoration: none;
}
